<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite parallel="classes" name="Suite">
  <test thread-count="5" parallel="classes" name="Test">
    <classes>
      <class name="week3.day1.Launch_Parallel_Udid_cap"/>
      <class name="week3.day1.Launch_Emulator_Parallel"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
